.Home .body {
  max-width: 1200px;
  margin: 0 auto;
}

.Home .body .option-container {
  display: flex;
}

.Home .body .options {
  vertical-align: baseline;
  flex: 1;
}

.Home .body .option-container img {
  max-width: 100%;
  max-height: 500px;
}